.git
node_modules
vendor
storage/logs
storage/framework/cache
storage/framework/sessions
.idea
.vscode
npm-debug.log
yarn.lock
public/storage
# Mantener public/build para que se compile dentro del contenedor
!public/build
