/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder
/storage/*.key
/storage/pail
/vendor
.DS_Store
.env
.env.testing
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed

# Cosas mias de mi

sonar-project.properties
/docker/sonarqube/sonarqube
/owasp-zap
/.scannerwork

# Code coverage
/coverage

# Composer local
composer.phar

# Configuración y binarios locales
*.bat
*.sh
*.log